%h2= @list.name

- unless @list.list_items.empty?
  %ul.list
    - @list.list_items.each do |item|
      %li= item.description


= link_to 'Edit', edit_list_path(@list)
\|
= link_to 'Back', lists_path
